root {
    display: block;
}

.category, .article {
    border-width: 3px;
    border-radius: 5px;
    border-style: solid;
    margin-right: 40px;
    margin-bottom: 40px;
    padding: 3px;
    width: 134px;
    height: 134px;
}

.category {
    float: top;
    border-color: #E29ABC;
    background-color: #E29ABC;
}

.article {
    float: left;
    border-color: #82C096;
    background-color: #82C096;
}